a {
  text-decoration: none;
  color: #141414;
}

button {
  font-family: "adihausDin", Arial, Helvetica, sans-serif;
}

.button {
  display: inline-block;
  background-color: #141414;
  color: #fff;
  padding: 1.125rem 2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  border: 2px solid #8a8a8a;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-0.25rem);
  }
}

.button-fw {
  display: inline-block;
  background-color: transparent;
  color: #141414;
  padding: 1.125rem 2rem;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: 2px solid rgba(169, 177, 245, 0.75);
  transition: 0.3s;
  cursor: pointer;
  width: 100%;

  &:hover {
    background-color: #141414;
    color: #fff;
    transform: translateY(-0.2rem);
  }
}

.button-outline {
  /* display: inline-block; */
  background-color: transparent;
  color: #141414;
  padding: 1.125rem 2rem;
  font-weight: 700;
  border-radius: 0.5rem;
  border: 2px solid rgba(8, 26, 185, 0.75);
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgba(13, 35, 236, 0.75);
    color: #fff;
    transform: translateY(-0.2rem);
  }
}
